body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.navbar-inverse {
	background-color: #A30000;
}

footer {
	margin-top: 100px;
}

.modal {
	z-index: 1050;
}

.chatroom-list {
	display: flex;
	flex-wrap: wrap;
}

.chatroom-list > .chatroom-list-item {
	margin-right: 20px;
	min-width: 300px;
}

.chatroom-list > .chatroom-list-item .btn {
	margin-left: 5px;
}

.chatroom {
	padding: 30px 20px;
}

.chatroom .chatroom-view {
	height: 55vh;
	overflow-y: scroll;
	padding: 10px;
}

.chatroom .chatmessage .author {
	padding-right: 7px;
}

.chatroom .chatmessage .timestamp {
	font-size: 11px;
}


.tiny-text {
	font-size: 11px;
}