<div class="well well-sm chatroom">
	<button type="button" class="btn btn-xs btn-info" data-bind="click: $view.goBack">
		<span class="glyphicon glyphicon-arrow-left"></span> Back
	</button>
	<!-- ko with: $view.chatroom -->
	<h2><!-- ko text: name --><!-- /ko --></h2>
	<!-- /ko -->
	<div class="panel panel-default chatroom-view">
		<!-- ko if: $view.chatmessages.length -->
		<div class="chatmessage" data-bind="foreach: $view.chatmessages">
			<p class="message-content clearfix">
				<div class="pull-left">
					<div class="text-muted">
						<div class="author"><!-- ko text: author --><!-- /ko --> whispered </div>
						<div class="timestamp"><!-- ko text: timeago --><!-- /ko --></div>
					</div>
				</div>
				<div class="pull-left" data-bind="html: contentParsed"></div>
			</p>
		</div>
		<!-- /ko -->
		<!-- ko ifnot: $view.chatmessages.length -->
		<p class="text-muted">No whispers yet.</p>
		<!-- /ko -->
	</div>
	<form class="new-chatmessage-form form" role="form" data-bind="submit: $view.submitMessage">
		<div class="form-group input-group">
			<input 
				class="form-control" 
				type="text" 
				placeholder="Whisper something..." 
				maxlength="255" 
				data-bind="value: $view.newMessageContent, hasFocus: $view.focusOnInput, visible: !$view.showLargeInput()">
			<textarea 
				class="form-control" 
				type="text" 
				placeholder="Whisper something..." 
				maxlength="255" 
				rows="5" 
				data-bind="value: $view.newMessageContent, hasFocus: $view.focusOnInput, visible: $view.showLargeInput">
			</textarea>
			<div class="input-group-addon" data-bind="click: $view.toggleLargeInput">
				<span class="glyphicon glyphicon-resize-full"></span>
			</div>
		</div>
		<button type="submit" class="btn btn-success">Send</button>
	</form>
</div>