<div class="jumbotron">
	<h1>Hello, comrade!</h1>
	<p>This is a secure communication channel for planning the demise of the Intergalactic Empire.</p>
	<p><a class="btn btn-primary btn-lg" role="button" data-bind="click: $view.getStarted">Let's Get Started &raquo;</a></p>
</div>

<span class="text-muted">News</span>
<div class="row">
	<div class="col-md-4">
		<h2>Battle of Tandoo</h2>
		<p>Hark the herald starlillies - how they sing! The Rebel Accord has gained another victory over the forces of oppression. Tandoo proved to be pivotal in the liberation of the Telucia sector. Fight on, brothers!</p>
		<p class="text-muted">10392 AE</p>
	</div>
	<div class="col-md-4">
		<h2>Kith Sighting</h2>
		<p class="text-muted"></p>
		<p>A kith apprentice was sighted on Nustafar. Although the (weak-minded) locals deny the sighting, an Accord scout drone captured a verifiable holograph. Vigilance is the price of freedom!</p>
		<p class="text-muted">10389 AE</p>
	 </div>
	<div class="col-md-4">
		<h2>Benefits Update</h2>
		<p class="text-muted"></p>
		<p>As of stardate 10409 AE, the RHMO will be cutting long-term disability benefits to existing subscribers. For concerns, please comm your intrasolar representative.</p>
		<p class="text-muted">10374 AE</p>
	</div>
</div>