<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Rebel Chat</a>
		</div>
		<div class="navbar-collapse collapse">
		</div><!--/.navbar-collapse -->
	</div>
</div>

<div class="jumbotron">
	<div class="container">
		<h1>Hello, comrade!</h1>
		<p>This is a secure communication channel for planning the demise of the Intergalactic Empire.</p>
		<p><a class="btn btn-primary btn-lg" role="button">Let's Get Started &raquo;</a></p>
	</div>
</div>

<div class="container">
	<span class="text-muted">News</span>
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>Battle of Tandoo</h2>
			<p>Hark the herald starlillies - how they sing! The Rebel Accord has gained another victory over the forces of oppression. Tandoo proved to be pivotal in the liberation of the Telucia sector. Fight on, brothers!</p>
			<p class="text-muted">10392 AE</p>
		</div>
		<div class="col-md-4">
			<h2>Kith Sighting</h2>
			<p class="text-muted"></p>
			<p>A kith apprentice was sighted on Nustafar. Although the (weak-minded) locals deny the sighting, an Accord scout drone captured a verifiable holograph. Vigilance is the price of freedom!</p>
			<p class="text-muted">10389 AE</p>

		 </div>
		<div class="col-md-4">
			<h2>Benefits Update</h2>
			<p class="text-muted"></p>
			<p>As of stardate 10409 AE, the RHMO will be cutting long-term disability benefits to existing subscribers. For concerns, please comm your intrasolar representative.</p>
			<p class="text-muted">10374 AE</p>

		</div>
	</div>

	<hr>

	<footer>
	<p>&copy; Alex Solo 2014. Made with <a href="http://www.padrinorb.com/" target="_blank">Palpatino</a> and <a href="http://stoodder.github.io/falconjs/" target="_blank">Millennial Falcon</a></p>
	</footer>
</div>